
#nav { position: absolute;}
#nav .group { display: block; }


#container { width:100%; height: 100%; background: #222; position: absolute }
#scene_container { width:1092px; height: 768px; background: #000; margin: 0 auto 0; overflow: hidden; position: relative; top: 50%; transform: translateY(-50%); }
.scene { background: #900; float: left; width: 1092px; height: 768px; }


/* 	SCENE PIXEL WIDTHS: 0,1092,2184,3276,4368,5460 */

#home_scene { width: 3276px; position: relative; }
#cinder_scene { width: 5460px; position: relative; }
#dumblr_scene { width: 5460px; position: relative; }
#instacam_scene { width: 5460px; position: relative; }
#metube_scene { width: 5460px; position: relative; }

#home0 { background: #eed7f4; }
#home1 { background: #d4a1e1; }
#home2 { background: #a367b2; }

#cinder0 { background: #77f3da; }
#cinder1 { background: #23b194; }
#cinder2 { background: #24b06f; }
#cinder3 { background: #0e9a2c; }
#cinder4 { background: #20990e; }

#dumblr0 { background: #eaf377; }
#dumblr1 { background: #d3dd49; }
#dumblr2 { background: #b8a812; }
#dumblr3 { background: #95780c; }
#dumblr4 { background: #7f5907; }

#instacam0 { background: #79f279; }
#instacam1 { background: #10f010; }
#instacam2 { background: #74c116; }
#instacam3 { background: #3b6b0e; }
#instacam4 { background: #354f03; }

#metube0 { background: #f27676; }
#metube1 { background: #f01010; }
#metube2 { background: #c21680; }
#metube3 { background: #d915b9; }
#metube4 { background: #840c94; }


/* IN INSTACAM */

/*INSTACAM NON-BUTTON ELEMENTS*/
/*img/instacam/*/

    .polaroid {  /* polaroid.png */
    top:18px;
    left: 14px;
 }
    .pic {  /* everyting in img/instacam/pics folder */
    left: 71px;
    top:132px;
 } 
    .select {  /* homesel.png*/
    left: 71px;
    top:132px;
 }
 
    .box {  /* selfiebox.png, foodbox.png, bkgbox.png, cambox.png, tags/tagbartop.png */
    left: 506px;
    top:106px;
 }
 


/* INSTACAM BUTTON POSITIONS */
/*img/instacam/*/


   .back {  /* bakhov.png, bak.png */
    left: 0px;
    top:0px;
 }
     .next {  /* next.png, nexthov.png*/
    left: 744px;
    top:585px;
 }

  /* FIRST SCREEN SELECT TYPE OF PIC: images in img/instacam/home */
  
    .selself {  /* selselfie.png, selselfiehov.png*/
    left: 490px;
    top:99px;
 }
    .selfood {  /* selfood.png, selfoodhov.png*/
    left: 490px;
    top: 245px;
 }
    .selcam {  /* selcam.png, selcamhov.png*/
    left: 490px;
    top: 404px;
 }
   /* SELFIES ICONS -- put hover effects on all of these- glow & enlarge: all images in img/instacam/selfie*/
   
    .hbasic {  /* hairbasic.png*/
    left: 539px;
    top: 181px;
 }
    .hmartyr {  /* hairmartyr.png*/
    left: 670px;
    top: 181px;
 }
    .hcam {  /* haircamho.png*/
    left: 800px;
    top: 181px;
 }  
    .htroll {  /*hairtroll.png*/
    left: 932px;
    top: 181px;
 }
    .scam {  /*swagcamho.png*/
    left: 539px;
    top: 395px;
 } 
    .sbasic {  /*swagbasic.png*/
    left: 670px;
    top: 395px;
 }
    .stroll {  /*swagtroll.png*/
    left: 800px;
    top: 395px;
 }
    .smartyr {  /*swagmartyr.png*/
    left: 932px;
    top: 395px;
 }
    /* FOODIES, CAMERAR ROLLL, & BKG ICONS -- put hover effects on all of these-glow & enlarge: all images in img/instacam/foodie OR img/instacam/bkg OR img/instacam/cameraroll*/
     
    .oneone {  /* pasta.png, weenie.png, cheeto.png*/
    left: 538px;
    top: 163px;
 }
    .onetwo {  /* starbux.png, nails.png, heart.png*/
    left: 667px;
    top: 163px;
 }
    .onethree {  /* sushi.png  gun.png, gunlok.png, alien.png*/
    left: 798px;
    top: 163px;
 }
    .onefour {  /* taco.png, fedora.png, fedoralok.png, latte.png*/
    left: 930px;
    top: 163px;
 }
    .twoone {  /*smoothie.png, scenelok.png, scene.png, killman.png*/
    left: 538px;
    top: 292px;
 }  
    .twotwo {  /* wine.png, cat.png, catlok.png, boob.png*/
    left: 667px;
    top: 292px;
 }
    .twothree {  /* bagel.png,  dik.png, diklok.png, doom.png*/
    left: 798px;
    top: 292px;
 }
    .twofour {  /* steak.png, moloshe.png, meme.png*/
    left: 930px;
    top: 292px;
 }
    .threeone {  /*lilb.png, lilblok.png*/
    left: 538px;
    top: 419px;
 }  
    .threetwo {  /* dylanlok.png, dylan.png*/
    left: 667px;
    top: 419px;
 }
    .threethree {  /*nude.png*/
    left: 798px;
    top: 419px;
 }
    .threefour {  /* dylanlok.png, dylan.png ...this is temporary*/
    left: 930px;
    top: 419px;
 }
 
 /* INSTACAM TAGS-- put hover effects image lightens: all images in img/instacam/tags*/
 
    .scrollbar{  /* scrollbar.png*/
    top: 108px;
    left: 1031px;
 }
    .post{  /*post.png, posthov.png*/
    left: 31px;
    top: 483px;
 }
    .tagcover{  /*tagcover.png*/
    left: 506px;
    top: 487px;
 }
    .tagbar{  /*tagbar.png*/
    left: 30px;
    top: 484px;
 }
    .tagcontainer{  /*tags.png  -- put all tag options in this container; scroll to see alll options*/
    left: 506px;
    top:106px;
    width: 520px;
    height: 445px;
 }