html,body { font: 1em/1.4em Arial; color: #fff }

#nav { position: absolute; top: 50px;}
#nav .group { display: block; }
#report { position: absolute; color: #fff; top: 0; background: rgba(0,0,0,.5); width: 100%; font-size: 80%; z-index: 500}

#container { width:100%; height: 100%; background: #222; position: absolute }
#scene_container { width:1092px; height: 798px; background: #000; margin: 0 auto 0; overflow: hidden; position: relative; top: 50%; transform: translateY(-50%); }

.scene { position:relative; width: 1092px; height: 728px; }

#scene_container #footer {
	position: absolute;
	height: 70px;
	left: 0;
	top:728px;
	width:100%;
	z-index: 100;
	background-image: url('../img/statusbar_parts/stautsbkg.png');

}




/* TAGS */

#dumblr_scene .tags {  
    position: absolute;
    top: 160px;
    left: 198px;
    width: 596px;
}
#instacam_scene .tags {  
    position: absolute;
    top: 120px;
    left: 500px;
    width: 560px;
}
#metube_scene .tags {  
    position: absolute;
    top: 175px;
    left: 237px;
    width: 620px;
}
.tags button {
	font-size: 111%;
	padding: 7px;	
	margin: 4px 5px;	
	border: none;
	background: #fff
} 
.tags button:hover, .tag_selected {
	color: #fff;
	background: rgba(0,0,0,.5)
} 
#dumblr_scene .tags button { font-size: 105%; padding: 6px; }
#metube_scene .tags button { font-size: 105%; padding: 4px; }


#dumblr_tag_confirm, #instacam_tag_confirm, #metube_tag_confirm { position: absolute; font-size: 120%; background: #ed00ff; color: #fff; border: none; padding: 8px }
#dumblr_tag_confirm { top: 520px; left: 500px; }
#instacam_tag_confirm { top: 520px; left: 500px; }
#metube_tag_confirm { top: 520px; left: 500px; }

/*.tag_selected, .tag_selected:hover { background: #ccc; color: #ed00ff; }*/
.tag_used { background: #ccc; color: #000; }




/* VIDEOS */

#video_window { 
	display: none;
	width:100%;
	height:100%;
	z-index: 200;
	position: absolute;
	background: rgba(25,  25,  25, 0.85);
	text-align: center;
}
#video_window #close_video_window {
	position: absolute;
	top:30px;
	right: 30px;
	display: block;
	font-size: 100px;
	color: #ff00f2;
}
#video_container { 
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}







#footer #bar1, #footer #bar2, #footer #bar3 {
	position: absolute;
	left: 20px;
	top:0;
	width:340px;
	height:78px;
	overflow: hidden;
}
#footer #bar2 { left: 380px; }
#footer #bar3 { left: 740px; }

#footer .overlay {
	position: absolute;
	z-index: 200;
}
#footer .underlay {
	position: absolute;
	z-index: 120;
	left:-200px;
	top:0;
}




/* Lena, you can swap out these images if you want */


/* 	SCENE PIXEL WIDTHS: 0,1092,2184,3276,4368,5460,6552,7644,8736,9828 */

#home_scene { width: 3276px; position: relative; }
#home_scene>div { background: url('../img/home/bkg.png') left top }

#cinder_scene { width: 5460px; position: relative; }
#cinder_scene>div { background: url('../img/cinder/bkg.png') left top; }

#dumblr_scene { width: 17472px; position: relative; }
#dumblr_scene>div { background: url('../img/dumblr/bkg.png') left top; }

#instacam_scene { width: 8736px; position: relative; }
#instacam_scene>div { background: url('../img/instacam/intsta_bkg.png') left top; }

#metube_scene { width: 5460px; position: relative; }
#metube_scene>div { background: url('../img/metube/bkg.png') left top; }


.scene { float: left; width: 1092px; height: 728px; }



/*
#home0 { background: #d4a1e1; }
#home1 { background: #d4a1e1; }
#home2 { background: #a367b2; }

#cinder0 { background: #77f3da; }
#cinder1 { background: #23b194; }
#cinder2 { background: #24b06f; }
#cinder3 { background: #0e9a2c; }
#cinder4 { background: #20990e; }

#dumblr0 { background: #eaf377; }
#dumblr1 { background: #d3dd49; }
#dumblr2 { background: #b8a812; }
#dumblr3 { background: #95780c; }
#dumblr4 { background: #7f5907; }

#instacam0 { background: #79f279; }
#instacam1 { background: #10f010; }
#instacam2 { background: #74c116; }
#instacam3 { background: #3b6b0e; }
#instacam4 { background: #354f03; }

#metube0 { background: #f27676; }
#metube1 { background: #f01010; }
#metube2 { background: #c21680; }
#metube3 { background: #d915b9; }
#metube4 { background: #840c94; }
*/







.home_button,.back_button {
	position: absolute;
	border: none
}
/***********************************************************************************/
/* HOME
************************************************************************************/
#home_scene .instacam_button {  /* instacam.gif */
    position: absolute;
    left: 764px;
    top: 456px;
 }
#home_scene .cinder_button {  /* cinder.gif */
    position: absolute;
    left: 61px;
    top: 437px;
 }
#home_scene .dumblr_button {  /* dumblr.gif */
    position: absolute;
    left: 98px;
    top: 0px;
 }
#home_scene .metube_button {  /* metube.gif */
    position: absolute;
    left: 774px;
    top: 20px;
 }
/***********************************************************************************/
/*METUBE    img/metube
************************************************************************************/
#metube_scene .back {  /* bakhov.png, bak.png */
    position: absolute;
    left: 13px;
    top: 10px;
 }
 
#metube_scene .tv {  /* tv.png, tvhov.gif */
    position: absolute;
    left: 915px;
    top: 537px;
 }
 /*screen 1*/
#metube_scene .prompt {  /* prompt.png */
    position: absolute;
    left: 321px;
    top: 200px;
 }
#metube_scene .metube_mv {  /* mv.png, mvhov.png */
    position: absolute;
    top: 282px;
    left: 220px;
 }
 #metube_scene .metube_vlog {  /* vlog.png, vloghov.png */
    position: absolute;
    top: 282px;
    left: 434px;
 }
  #metube_scene .metube_shock {  /* shock.png, shockhov.png */
    position: absolute;
    top: 282px;
    left: 646px;
 }
  /*screens second option*/
#metube_scene .top {  /* rap.png, raphov.png, rant.png, ranthov.png, challenge.png, challengehov.png */
    position: absolute;
    top: 188px;
    left: 330px;
 }
 #metube_scene .middle {  /* pop.png, pophov.png, diary.png, diaryhov.png, snuff.png, snuffhov.png */
    position: absolute;
    top: 276px;
    left: 330px;
 }
#metube_scene .bottom {  /* parody.png, parodyhov.png, comedy.png, comedyhov.png, camwhore.png, camwhore.png */
    position: absolute;
    top: 361px;
    left: 330px;
 }
 #metube_scene .mv_rap {  /* rap.png, raphov.png,*/
    position: absolute;
    top: 188px;
    left: 330px;
 }
 #metube_scene .mv_pop {  /* pop.png, pophov.png, */
    position: absolute;
    top: 276px;
    left: 330px;
 }
#metube_scene .mv_parody {  /* parody.png, parodyhov.png,  */
    position: absolute;
    top: 361px;
    left: 330px;
 }
 #metube_scene .vlog_rant {  /* rant.png, ranthov.png,*/
    position: absolute;
    top: 188px;
    left: 330px;
 }
 #metube_scene .vlog_diary {  /*diary.png, diaryhov.png,*/
    position: absolute;
    top: 276px;
    left: 330px;
 }
#metube_scene .vlog_comedy {  /*comedy.png, comedyhov.png,*/
    position: absolute;
    top: 361px;
    left: 330px;
 }
 #metube_scene .shock_challenge {  /*challenge.png, challengehov.png */
    position: absolute;
    top: 188px;
    left: 330px;
 }
 #metube_scene .shock_snuff {  /*snuff.png, snuffhov.png */
    position: absolute;
    top: 276px;
    left: 330px;
 }
#metube_scene .shock_camwhore{  /*camwhore.png, camwhore.png */
    position: absolute;
    top: 361px;
    left: 330px;
 }
/*affirmations*/
#metube_scene .affirmation {  /*gainedfollowers_overlay_notification.gif, lostfollowers_overlay_notification.gif */
    position: absolute;
    top: 128px;
    left: 276px;
 }
 #metube_scene .ok {  /*ok.png, lost_okhov.png, gain_okhov.png */
    position: absolute;
    top: 482px;
    left: 444px;
 }

/***********************************************************************************/
/* INSTACAM
************************************************************************************/

#instacam_scene .screen {
	width: 349px;
	height: 349px;
	position: relative;
	top: 128px;
	left: 48px;
	background: #000;
}
#instacam_scene #instacam_home_selselfie_btn { position: absolute; left: 490px; top:99px; }
#instacam_scene #instacam_home_selfood_btn { position: absolute; left: 490px; top: 245px; }
#instacam_scene #instacam_home_selcam_btn { position: absolute; left: 490px; top: 404px; }




/* IN INSTACAM */

/*INSTACAM NON-BUTTON ELEMENTS*/
/*img/instacam/*/

#instacam_scene .polaroid { position: absolute; top: 18px; left: 14px; width:470px; height:562px; background: url('../img/instacam/polaroid.png') } /* polaroid.png */
#instacam_scene .polaroid .instacam_preview { position: relative; top: 106px; left: 57px; }
#instacam_scene .pic { position: absolute; left: 71px; top:132px; }  /* everyting in img/instacam/pics folder */
#instacam_scene .select { position: absolute; left: 71px; top:132px; } /* homesel.png*/

#instacam_scene .box { position: absolute; left: 506px; top:106px; } /* swagbox.png, hairbox.png, foodbox.png, bkgbox.png, cambox.png, tags/tagbartop.png */



/* INSTACAM BUTTON POSITIONS */
/*img/instacam/*/

#instacam_scene .back { position: absolute; left: 0px; top:0px; } /* bakhov.png, bak.png */
#instacam_scene .next_button { position: absolute; left: 744px; top:585px; } /* next.png, nexthov.png*/
#instacam_scene .instacam_totags { position: absolute; left: 744px; top:585px; } /* next.png, nexthov.png*/

/* SELFIES ICONS -- put hover effects on all of these- glow & enlarge: all images in img/instacam/selfie*/

#instacam_scene .selfone { position: absolute; left: 593px; top: 168px; } /* dswag.png, mhair.png */
#instacam_scene .selftwo { position: absolute; left: 805px; top: 168px; } /* tswag.png, thair.png*/
#instacam_scene .selfthree { position: absolute; left: 593px; top: 345px; }  /* bswag.png, dhair.png*/
#instacam_scene .selffour { position: absolute; left: 805px; top: 345px; } /*smartyr.png, bhair.png*/

#instacam_scene .scam { position: absolute; left: 593px; top: 168px; } /* dswag.png, mhair.png */
#instacam_scene .stroll{ position: absolute; left: 805px; top: 168px; } /* tswag.png, thair.png*/
#instacam_scene .sbasic { position: absolute; left: 593px; top: 345px; }  /* bswag.png, dhair.png*/
#instacam_scene .smartyr { position: absolute; left: 805px; top: 345px; } /*smartyr.png, bhair.png*/


#instacam_scene .hmartyr { position: absolute; left: 593px; top: 168px; } /* dswag.png, mhair.png */
#instacam_scene .htroll { position: absolute; left: 805px; top: 168px; } /* tswag.png, thair.png*/
#instacam_scene .hcam { position: absolute; left: 593px; top: 345px; }  /* bswag.png, dhair.png*/
#instacam_scene .hbasic{ position: absolute; left: 805px; top: 345px; } /*smartyr.png, bhair.png*/


/* FOODIES, CAMERAR ROLLL, & BKG ICONS -- put hover effects on all of these-glow & enlarge: all images in img/instacam/foodie OR img/instacam/bkg OR img/instacam/cameraroll*/

#instacam_scene .oneone { position: absolute; left: 538px; top: 163px; } /* pasta.png, weenie.png, cheeto.png*/
#instacam_scene .onetwo { position: absolute; left: 667px; top: 163px; } /* starbux.png, nail.png, heart.png*/ 
#instacam_scene .onethree { position: absolute; left: 798px; top: 163px; } /* sushi.png gun.png, gunlok.png, alien.png*/
#instacam_scene .onefour { position: absolute; left: 930px; top: 163px; } /* taco.png, fedora.png, fedoralok.png, latte.png*/
#instacam_scene .twoone { position: absolute; left: 538px; top: 292px; } /*smoothie.png, scenelok.png, scene.png, killman.png*/ 
#instacam_scene .twotwo { position: absolute; left: 667px; top: 292px; } /* wine.png, cat.png, catlok.png, boob.png*/ 
#instacam_scene .twothree { position: absolute; left: 798px; top: 292px; } /* bagel.png, dik.png, diklok.png, doom.png*/ 
#instacam_scene .twofour { position: absolute; left: 930px; top: 292px; } /* steak.png, moloshe.png, meme.png*/ 
#instacam_scene .threeone { position: absolute; left: 538px; top: 419px; }  /*lilb.png, lilblok.png*/
#instacam_scene .threetwo { position: absolute; left: 667px; top: 419px; }  /* dylanlok.png, dylan.png*/
#instacam_scene .threethree { position: absolute; left: 798px; top: 419px; } /*nude.png*/
#instacam_scene .threefour { /* dylanlok.png, dylan.png ...this is temporary*/ position: absolute; left: 930px; top: 419px; }

/* INSTACAM TAGS-- put hover effects image lightens: all images in img/instacam/tags*/ 
#instacam_scene .scrollbar{ position: absolute; top: 108px; left: 1031px; } /* scrollbar.png*/
#instacam_scene .post{ position: absolute; left: 31px; top: 483px; } /*post.png, posthov.png*/ 
#instacam_scene .tagcover{ position: absolute; left: 506px; top: 487px; } /*tagcover.png*/
#instacam_scene .tagbar{ position: absolute; left: 30px; top: 484px; } /*tagbar.png*/
#instacam_scene .tagcontainer{ position: absolute; left: 506px; top:106px; width: 520px; height: 445px; } /*tags.png -- put all tag options in this container; scroll to see alll options*/


/***********************************************************************************/
/*DUMBLR   img/dumblr
************************************************************************************/
#dumblr_scene .back {  /* bakhov.png, bak.png */
    position: absolute;
    left: 13px;
    top: 10px;
 }
 #dumblr_scene .reblog { 
    position: absolute;
    left: 267px;
    top: 202px;
 }
  #dumblr_scene .entry {  /* bakhov.png, bak.png */
    position: absolute;
    left: 498px;
    top: 202px;
 }
   #dumblr_scene .dprompt { 
    position: absolute;
    left: 324px;
    top: 207px;
 }
   #dumblr_scene .diary { 
    position: absolute;
    left: 256px;
    top: 260px;
 }
   #dumblr_scene .rant {  
    position: absolute;
    left: 502px;
    top: 260px;
 }
   #dumblr_scene .manifesto {
    position: absolute;
    left: 349px;
    top: 360px;
 }
    #dumblr_scene .madbox {
    position: absolute;
    left: 216px;
    top: 155px;
 }
    #dumblr_scene .next_button {
    position: absolute;
    left: 362px;
    top: 517px;
 }
  /*MADLIBS img/dumblr/words/  */
  
    #dumblr_scene .word1 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 221px;
 }
    #dumblr_scene .word2 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 251px;
 }
     #dumblr_scene .word3 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 281px;
 }
      #dumblr_scene .word4 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 309px;
 }
     #dumblr_scene .word5 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 221px;
 }
    #dumblr_scene .word6 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 251px;
 }
     #dumblr_scene .word7 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 281px;
 }
    #dumblr_scene .word8 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 309px;
 }
      #dumblr_scene .word9 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 221px;
 }
    #dumblr_scene .word10 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 251px;
 }
     #dumblr_scene .word11 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 281px;
 }
    #dumblr_scene .word12 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 309px;
 }
     #dumblr_scene .word13 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 376px;
 }
    #dumblr_scene .word14 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 407px;
 }
     #dumblr_scene .word15 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 436px;
 }
      #dumblr_scene .word16 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 234px;
    top: 465px;
 }
     #dumblr_scene .word17 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 376px;
 }
    #dumblr_scene .word18 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 407px;
 }
     #dumblr_scene .word19 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 436px;
 }
    #dumblr_scene .word20 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 411px;
    top: 465px;
 }
   #dumblr_scene .word21 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 376px;
 }
    #dumblr_scene .word22 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 407px;
 }
    #dumblr_scene .word23 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 436px;
 }
    #dumblr_scene .word24 { /*make glow and enlarge on roll over/ turn pink on selection*/
    position: absolute;
    left: 588px;
    top: 465px;
 }
 
  /*MADLIBS img/dumblr/reblog/  */
    #dumblr_scene .click2reblog { 
    position: absolute;
    left: 240px;
    top: 432px;
 }
    #dumblr_scene .prog { 
    position: absolute;
    left: 270px;
    top: 510px;
 }
    #dumblr_scene .a1 { /*basic*/
    position: absolute;
    left: 636px;
    top: 342px;
 }
     #dumblr_scene .a2 { /*camwhore*/
    position: absolute;
    left: 690px;
    top: 214px;
 }
    #dumblr_scene .a3 { /*martyr*/
    position: absolute;
    left: 689px;
    top: 342px;
 }
    #dumblr_scene .a4 { /*troll*/
    position: absolute;
    left: 651px;
    top: 268px;
 }
    #dumblr_scene .a5 { /*troll*/
    position: absolute;
    left: 644px;
    top: 152px;
 }
    #dumblr_scene .a6 { /*camwhore*/
    position: absolute;
    left: 591px;
    top: 206px;
 }
     #dumblr_scene .a7 { /*martyr*/
    position: absolute;
    left: 215px;
    top: 369px;
 }
      #dumblr_scene .a8 { /*martyr*/
    position: absolute;
    left: 586px;
    top: 280px;
 }
    #dumblr_scene .a9 { /*martyr*/
    position: absolute;
    left: 435px;
    top: 269px;
 }
    #dumblr_scene .a10 { /*basic*/
    position: absolute;
    left: 584px;
    top: 152px;
 }
    #dumblr_scene .a11 { /*troll*/
    position: absolute;
    left: 505px;
    top: 248px;
 }
    #dumblr_scene .a12 { /*troll*/
    position: absolute;
    left: 291px;
    top: 205px;
 }
    #dumblr_scene .a13 { /*camwhore*/
    position: absolute;
    left: 242px;
    top: 236px;
 }
    #dumblr_scene .a14 { /*basic*/
    position: absolute;
    left: 478px;
    top: 233px;
 }
    #dumblr_scene .a15 { /*martyr*/
    position: absolute;
    left: 516px;
    top: 324px;
 }
    #dumblr_scene .a16 { /*camwhore*/
    position: absolute;
    left: 278px;
    top: 303px;
 }
    #dumblr_scene .a17 { /*troll*/
    position: absolute;
    left: 377px;
    top: 345px;
 }
    #dumblr_scene .a18 { /*camwhore*/
    position: absolute;
    left: 213px;
    top: 301px;
 }
    #dumblr_scene .a19 { /*troll*/
    position: absolute;
    left: 373px;
    top: 265px;
 }
    #dumblr_scene .a20 { /*camwhore*/
    position: absolute;
    left: 497px;
    top: 152px;
 }
    #dumblr_scene .a21   { /*basic*/
    position: absolute;
    left: 362px;
    top: 162px;
 }
    #dumblr_scene .a22   { /*basic*/
    position: absolute;
    left: 395px;
    top: 195px;
 }
    #dumblr_scene .a23   { /*troll*/
    position: absolute;
    left: 213px;
    top: 163px;
 }
    #dumblr_scene .a24   { /*basic*/
    position: absolute;
    left: 465px;
    top: 333px;
 }
    #dumblr_scene .a25   { /*martyr*/
    position: absolute;
    left: 288px;
    top: 145px;
 }
     #dumblr_scene .b1  { /*basic*/
    position: absolute;
    left: 477px;
    top: 191px;
 }
      #dumblr_scene .b2  { /*camwhore*/
    position: absolute;
    left: 315px;
    top: 180px;
 }
    #dumblr_scene .b3  { /*basic*/
    position: absolute;
    left: 445px;
    top: 232px;
 }
    #dumblr_scene .b4  { /*camwhore*/
    position: absolute;
    left: 349px;
    top: 232px;
 }
    #dumblr_scene .b5  { /*troll*/
    position: absolute;
    left: 690px;
    top: 299px;
 }
     #dumblr_scene .b6  { /*troll*/
    position: absolute;
    left: 507px;
    top: 263px;
 }
    #dumblr_scene .b7  { /*camwhore*/
    position: absolute;
    left: 361px;
    top: 356px;
 }
    #dumblr_scene .b8  { /*martyr*/
    position: absolute;
    left: 213px;
    top: 290px;
 }
    #dumblr_scene .b9  { /*basic*/
    position: absolute;
    left: 608px;
    top: 240px;
 }
    #dumblr_scene .b10  { /*martyr*/
    position: absolute;
    left: 655px;
    top: 216px;
 }
    #dumblr_scene .b11  { /*troll*/
    position: absolute;
    left: 449px;
    top: 317px;
 }
    #dumblr_scene .b12  { /*martyr*/
    position: absolute;
    left: 728px;
    top: 248px;
 }
    #dumblr_scene .b13  { /*basic*/
    position: absolute;
    left: 304px;
    top: 245px;
 }
    #dumblr_scene .b14  { /*troll*/
    position: absolute;
    left: 285px;
    top: 288px;
 }
    #dumblr_scene .b15  { /*martyr*/
    position: absolute;
    left: 520px;
    top: 187px;
 }
    #dumblr_scene .b16  { /*martyr*/
    position: absolute;
    left: 562px;
    top: 281px;
 }
    #dumblr_scene .b17  { /*troll*/
    position: absolute;
    left: 197px;
    top: 379px;
 }
    #dumblr_scene .b18  { /*basic*/
    position: absolute;
    left: 406px;
    top: 180px;
 }
    #dumblr_scene .b19  { /*troll*/
    position: absolute;
    left: 215px;
    top: 197px;
 }
     #dumblr_scene .b20  { /*basic*/
    position: absolute;
    left: 690px;
    top: 372px;
 }
    #dumblr_scene .b21  { /*camwhore*/
    position: absolute;
    left: 607px;
    top: 334px;
 }
    #dumblr_scene .b22  { /*camwhore*/
    position: absolute;
    left: 629px;
    top: 281px;
 }
    #dumblr_scene .b23  { /*basic*/
    position: absolute;
    left: 255px;
    top: 356px;
 }
     #dumblr_scene .b24  { /*camwhore*/
    position: absolute;
    left: 602px;
    top: 162px;
 }
    #dumblr_scene .c1  { /*camwhore*/
    position: absolute;
    left: 431px;
    top: 320px;
 }
     #dumblr_scene .c2  { /*troll*/
    position: absolute;
    left: 546px;
    top: 260px;
 }
    #dumblr_scene .c3  { /*camwhore*/
    position: absolute;
    left: 321px;
    top: 264px;
    }
    #dumblr_scene .c4  { /*troll*/
    position: absolute;
    left: 199px;
    top: 225px;
    }
    #dumblr_scene .c5  { /*camwhore*/
    position: absolute;
    left: 389px;
    top: 263px;
    }
    #dumblr_scene .c6  { /*trol*/
    position: absolute;
    left: 350px;
    top: 205px;
    }
    #dumblr_scene .c7  { /*basic*/
    position: absolute;
    left: 413px;
    top: 216px;
    }
    #dumblr_scene .c8  { /*basic*/
    position: absolute;
    left: 275px;
    top: 218px;
    }
    #dumblr_scene .c9  { /*troll*/
    position: absolute;
    left: 642px;
    top: 346px;
    }
    #dumblr_scene .c10  { /*troll*/
    position: absolute;
    left: 327px;
    top: 346px;
    }
    #dumblr_scene .c11  { /*camwhore*/
    position: absolute;
    left: 229px;
    top: 152px;
    }
    #dumblr_scene .c12  { /*troll*/
    position: absolute;
    left: 225px;
    top: 296px;
    }
    #dumblr_scene .c13  { /*martyr*/
    position: absolute;
    left: 315px;
    top: 173px;
    }
    #dumblr_scene .c14  { /*martyr*/
    position: absolute;
    left: 432px;
    top: 174px;
    }
    #dumblr_scene .c15  { /*basic*/
    position: absolute;
    left: 518px;
    top: 171px;
    }
    #dumblr_scene .c16  { /*camwhore*/
    position: absolute;
    left: 605px;
    top: 205px;
    }
    #dumblr_scene .c17  { /*martyr*/
    position: absolute;
    left: 594px;
    top: 291px;
    }
    #dumblr_scene .c18  { /*basic*/
    position: absolute;
    left: 594px;
    top: 291px;
    }
    #dumblr_scene .c19  { /*martyr*/
    position: absolute;
    left: 677px;
    top: 181px;
    }
    #dumblr_scene .c20  { /*martyr*/
    position: absolute;
    left: 457px;
    top: 249px;
    }
    #dumblr_scene .c21  { /*camwhore*/
    position: absolute;
    left: 469px;
    top: 197px;
    }
    #dumblr_scene .c22  { /*basic*/
    position: absolute;
    left: 520px;
    top: 319px;
    }
    #dumblr_scene .c23  { /*camwhore*/
    position: absolute;
    left: 699px;
    top: 326px;
    }
    #dumblr_scene .c24  { /*camwhore*/
    position: absolute;
    left: 211px;
    top: 378px;
    }
    #dumblr_scene .c25  { /*basic*/
    position: absolute;
    left: 660px;
    top: 265px;
    }
    #dumblr_scene .d1 { /*basic*/
    position: absolute;
    left: 646px;
    top: 352px;
    }
    #dumblr_scene .d2 { /*basic*/
    position: absolute;
    left: 699px;
    top: 225px;
    }
    #dumblr_scene .d3 { /*troll*/
    position: absolute;
    left: 700px;
    top: 358px;
    }
    #dumblr_scene .d4 { /*martyr*/
    position: absolute;
    left: 663px;
    top: 280px;
    }
    #dumblr_scene .d5 { /*camwhore*/
    position: absolute;
    left: 654px;
    top: 162px;
    }
    #dumblr_scene .d6 { /*martyr*/
    position: absolute;
    left: 602px;
    top: 216px;
    }
    #dumblr_scene .d7 { /*basic*/
    left: 228px;
    top: 383px;
    }
    #dumblr_scene .d8 { /*camwhore*/
    position: absolute;
    left: 597px;
    top: 293px;
    }
    #dumblr_scene .d9 { /*basic*/
    position: absolute;
    left: 446px;
    top: 281px;
    }
    #dumblr_scene .d10 { /*martyr*/
    position: absolute;
    left: 593px;
    top: 163px;
    }
    #dumblr_scene .d11 { /*martyr*/
    position: absolute;
    left: 517px;
    top: 261px;
    }
    #dumblr_scene .d12 { /*camwhore*/
    position: absolute;
    left: 306px;
    top: 218px;
    }
    #dumblr_scene .d13 { /*camwhore*/
    position: absolute;
    left: 253px;
    top: 261px;
    }
    #dumblr_scene .d14 { /*troll*/
    position: absolute;
    left: 487px;
    top: 241px;
    }
    #dumblr_scene .d15 { /*troll*/
    position: absolute;
    left: 526px;
    top: 336px;
    }
    #dumblr_scene .d16 { /*martyr*/
    position: absolute;
    left: 291px;
    top: 318px;
    }
    #dumblr_scene .d17 { /*martyr*/
    position: absolute;
    left: 387px;
    top: 354px;
    }
    #dumblr_scene .d18 { /*troll*/
    position: absolute;
    left: 224px;
    top: 312px;
    }
    #dumblr_scene .d19 { /*camwhore*/
    position: absolute;
    left: 385px;
    top: 278px;
    }
    #dumblr_scene .d20 { /*troll*/
    position: absolute;
    left: 501px;
    top: 163px;
    }
    #dumblr_scene .d21 { /*martyr*/
    position: absolute;
    left: 371px;
    top: 173px;
    }
    #dumblr_scene .d22 { /*camwhore*/
    position: absolute;
    left: 407px;
    top: 207px;
    }
    #dumblr_scene .d23 { /*troll*/
    position: absolute;
    left: 223px;
    top: 173px;
    }
    #dumblr_scene .d24 { /*troll*/
    position: absolute;
    left: 474px;
    top: 345px;
    }
    #dumblr_scene .d25 { /*basic*/
    position: absolute;
    left: 298px;
    top: 155px;
    }

/***********************************************************************************/
/*CINDER   img/cinder
************************************************************************************/
#cinder_scene .pass {  
    position: absolute;
    left: 249px;
    top: 510px;
 }
 #cinder_scene .lastpass { 
    position: absolute;
    left: 249px;
    top: 510px;
 }
 #cinder_scene .date_lilb {  
    position: absolute;
    left: 546px;
    top: 510px;
 }
#cinder_scene .date_elliot {  
    position: absolute;
    left: 546px;
    top: 510px;
 }
 #cinder_scene .date_scene {  
    position: absolute;
    left: 546px;
    top: 510px;
 }
 #cinder_scene .date_bro { 
    position: absolute;
    left: 546px;
    top: 510px;
 }
 
  #cinder_scene .profpic{ 
    position: absolute;
    left: 324px;
    top: 68px;
 }